* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: rgb(0, 55, 0);
    padding-top: 1rem 0;
    color: white;
}

h1 {
    padding: 1rem;
}


header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 1rem 0;
}

nav {
    background-color: rgba(0, 250, 0, 0.186);
    padding: 1rem 0;
    display: none;
    
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}


#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 1rem;
}

.lista-games {
    flex-wrap: wrap;
}

.lista-games li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-games li img {
    max-width: 100%;
}

.lista-games li h3 {
    margin: 1rem;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(0, 37, 0);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
}

.price {
    margin: 16px;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
}

.form-campo {
    margin-bottom: 1rem;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

fotm button {
    max-width: 120px;
}

footer {
    padding: 1rem;
}

footer li {
    list-style: none;
    margin-left: 1rem;
}

footer li img {
    height: 32px;
}

footer .container {
    justify-content: space-between;
    align-items: center;
}